flows NodeRed.json
[{"id":"7ec96a093a49d41a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8024cb4.98c5238","type":"mqtt in","z":"7ec96a093a49d41a","name":"","topic":"cp/Ia","qos":"2","datatype":"auto-detect","broker":"61de5090.0f5d9","nl":false,"rap":false,"x":510,"y":200,"wires":[["b5098b7f.2361d8"]]},{"id":"15d727dd.33e808","type":"debug","z":"7ec96a093a49d41a","name":"","active":true,"console":"false","complete":"false","x":570,"y":320,"wires":[]},{"id":"2aed678c.3de738","type":"mqtt out","z":"7ec96a093a49d41a","name":"","topic":"cp/Ia","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61de5090.0f5d9","x":330,"y":200,"wires":[]},{"id":"b5098b7f.2361d8","type":"json","z":"7ec96a093a49d41a","name":"","property":"payload","action":"","pretty":false,"x":730,"y":220,"wires":[["15d727dd.33e808","ede517b1478abea9"]]},{"id":"5e558ac16a4f907e","type":"mqtt out","z":"7ec96a093a49d41a","name":"","topic":"button/IA","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61de5090.0f5d9","x":320,"y":320,"wires":[]},{"id":"8f840443d0106d67","type":"json","z":"7ec96a093a49d41a","name":"","property":"payload","action":"","pretty":false,"x":130,"y":200,"wires":[["2aed678c.3de738"]]},{"id":"83700145b3eac6d6","type":"mqtt in","z":"7ec96a093a49d41a","name":"","topic":"button/IA","qos":"2","datatype":"auto-detect","broker":"61de5090.0f5d9","nl":false,"rap":false,"x":300,"y":460,"wires":[["214e6ed2a45b8cab","5c13661f42e83b29"]]},{"id":"214e6ed2a45b8cab","type":"debug","z":"7ec96a093a49d41a","name":"","active":true,"console":"false","complete":"false","x":530,"y":380,"wires":[]},{"id":"5c103d50e08798a8","type":"function","z":"7ec96a093a49d41a","name":"function 1","func":"msg.payload.content = \"RFID acionado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["3a16712f686469b6"]]},{"id":"3a16712f686469b6","type":"telegram sender","z":"7ec96a093a49d41a","name":"","bot":"a5016472c60ef48e","haserroroutput":false,"outputs":1,"x":230,"y":60,"wires":[[]]},{"id":"4c2a1cd0e2c0a366","type":"ui_button","z":"7ec96a093a49d41a","name":"","group":"5f08ce657abd9fd1","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"motor\":180}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":280,"wires":[["5e558ac16a4f907e"]]},{"id":"45695d27d26989ca","type":"ui_button","z":"7ec96a093a49d41a","name":"","group":"5f08ce657abd9fd1","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"motor\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":360,"wires":[["5e558ac16a4f907e"]]},{"id":"ede517b1478abea9","type":"ui_text","z":"7ec96a093a49d41a","group":"5f08ce657abd9fd1","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":770,"y":60,"wires":[]},{"id":"b8225a2e85e9a7bd","type":"serial in","z":"7ec96a093a49d41a","name":"","serial":"1535c67e6dcc2f7a","x":130,"y":120,"wires":[["8f840443d0106d67","5c103d50e08798a8"]]},{"id":"5c13661f42e83b29","type":"serial out","z":"7ec96a093a49d41a","name":"","serial":"1535c67e6dcc2f7a","x":530,"y":460,"wires":[]},{"id":"61de5090.0f5d9","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a5016472c60ef48e","type":"telegram bot","botname":"Cp4Arnaldo_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5f08ce657abd9fd1","type":"ui_group","name":"TAG:","tab":"5bd19658123fc59f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1535c67e6dcc2f7a","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5bd19658123fc59f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]